---
import Layout from '../../layouts/Layout.astro';
import StaticBlogGallery from '../../components/StaticBlogGallery.astro';
import { getCollection } from 'astro:content';
import type { Post } from '../../types';

const blogCollection = await getCollection('blog');
const posts: Post[] = blogCollection.map(entry => ({
  id: entry.id,
  title: entry.data.title,
  content: entry.body, 
  bannerImage: entry.data.bannerImage.src,
  tags: entry.data.tags,
  publishedAt: entry.data.publishedAt
}));
---

<Layout title="Blog - Xuecong Wang">
  <div>
      <div class="blog-header-wrapper">
        <div class="header">
          Blog <span class="headersc">博客</span>
        </div>
      </div>
      <StaticBlogGallery posts={posts} />
    </div>
</Layout>

