---
import Layout from "../layouts/Layout.astro";
---

<Layout title="CV - Xuecong Wang">
    <div>
      <div class="cv-header-wrapper">
        <div class="header">
          CV <span class="headersc">简历</span>
        </div>
        <div class="cv-caption">Last update: October 2025</div>
        <a
          href="/Xuecong_ArtResumeOct2025.pdf"
          class="download-link"
          download
        >
          Download CV
        </a>
      </div>
      <div class="des-wrapper">
        <div class="header">Education:</div>
        <div class="generaldes">2021-2025 New York University</div>
        <div class="generaldes extra-indent">
          BFA: Studio Art, Minor: Psychology
        </div>
        <div class="header">Exhibition Highlights:</div>
        <div class="generaldes">2025</div>
        <div class="generaldes extra-indent">
          16th Annual Figurative Art Exhibition, Lore Degenstein Gallery, Selinsgrove, PA
        </div>
        <div class="generaldes extra-indent">
          Spectrum: A Multidisciplinary Gallery&Reading, Brown Sugar Lit, Brooklyn, NY
        </div>
        <div class="generaldes extra-indent">
          Half Wind, Half Still, A Space Gallery, Brooklyn, NY
        </div>
        <div class="generaldes extra-indent">
          NYU ISAI Public Showcase, La MaMa Theatre, New York, NY
        </div>
        <div class="generaldes extra-indent">
          Timeless Theatrics, Commons Gallery, New York, NY
        </div>
        <div class="generaldes">2024</div>
        <div class="generaldes extra-indent">
          Multiplicities, Commons Gallery, New York, NY
        </div>
        <div class="generaldes extra-indent">
          Realism versus the Abstract, BWAC, Brooklyn, NY
        </div>
        <div class="generaldes extra-indent">
          Student Open Studio, Third North NYU, NY
        </div>
        <div class="generaldes">2023</div>
        <div class="generaldes extra-indent">
          Fingerfertigkeiten, St. Agnes, Berlin, Germany
        </div>
        <div class="header">Awards and Grants:</div>
        <div class="generaldes">2025</div>
        <div class="generaldes extra-indent">
          NYU Student Excellence Award
        </div>
        <div class="generaldes">2024</div>
        <div class="generaldes extra-indent">
          Chen Cui Artist Practice Award
        </div>
      </div>
      <div class="divider"></div>
    </div>
</Layout>
