---
---
<div class="footer-wrapper">
  <div class="footerdes">
    This website was created by Xuecong Wang and all rights are reserved.
    For permission to use any images or to acquire works displayed on this
    site, please contact the artist directly.
  </div>
  <div class="footerdessc">
    这个网站由王雪聪创建，所有权利均已保留。若需使用网站上显示的任何图片或获取作品，请直接联系艺术家。
  </div>
  <div class="footerlinks">
    <a href="/" class="footerdessc">
      Art 艺术
    </a>
    <a href="/blog" class="footerdessc">
      Blog 博客
    </a>
    <a href="/about" class="footerdessc">
      About 关于
    </a>
    <a href="/cv" class="footerdessc">
      CV 简历
    </a>
  </div>
</div>

