---
---
<div class="headbar-wrapper">
  <div class="headbar">
    <div class="headbar-title">Xuecong Wang</div>
    <div class="headbar-titlesc">王雪聪</div>
  </div>
  <div class="menubar">
    <div class="menubarcol">
      <a href="/" class="subtitle">
        Art <span class="subtitlesc">艺术</span>
      </a>
    </div>
    <div class="menubarcol">
      <a href="/blog" class="subtitle">
        Blog <span class="subtitlesc">博客</span>
      </a>
    </div>
    <div class="menubarcol">
      <a href="/about" class="subtitle">
        About <span class="subtitlesc">关于</span>
      </a>
    </div>
    <div class="menubarcol">
      <a href="/cv" class="subtitle">
        CV <span class="subtitlesc">简历</span>
      </a>
    </div>
  </div>
</div>

